Package: com.pandazheng.fuckcamera
Name: fuckcamera
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pandazheng
Author: pandazheng
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 16
