Package: com.pandazheng.fuckcamera
Name: fuckcamera
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pandazheng
Author: pandazheng
Section: Tweaks
